body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f2e9;
    color: #333;
}

.cabecalho {
    background-color: #d8be95;
    padding: 10px 20px;
    border-bottom: 2px solid #d1d1b0;
}
.navbar-nav .nav-item .dropdown-menu {
    background-color: #d8be95;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-item .dropdown-item:hover {
    background-color: #ffe0b2;
    color: #8b0000;
}
.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
h1 {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #666;
    color: #8b0000;
    margin: 0;
}
h2 {
    margin: 20px 0 30px 0;
}

p {
    margin: 20px 0;
}

nav {
    display: flex;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #8b0000;
    transition: background-color 0.3s;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #d8be95;
    list-style: none;
    padding: 10px;
    border: 1px solid #d8be95;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.submenu li {
    margin: 5px 0;
}

.submenu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropdown:hover .submenu,
.dropdown:focus-within .submenu {
    display: block;
}

.submenu a:hover {
    background-color: #ffe0b2;
    color: #8b0000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #d8be95;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

li:hover {
    background: #ffe0b2;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #666;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.page-item {
    border: 1px solid #d8be95;
    border-radius: 5px;
    margin-left: 5px;
}

.page-link {
    color: #8b0000;
    background-color: #d8be95;
    padding: 10px 15px;
    text-decoration: none;
}

.page-item.disabled .page-link {
    color: #ccc;
    background-color: #f9f2e9;
    border: 1px solid #d8be95;
    cursor: not-allowed;
}

.pagination {
    background-color: #f9f2e9;
    padding: 20px;
}

.bem-vindo {
    text-align: center;
    margin: 30px 0;
    background-color: #f9f2e9;
}

.bem-vindo h1 {
    font-size: 36px;
    color: #8b0000;
}

.bem-vindo p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.bem-vindo h2 {
    font-size: 24px;
}

.servicos {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #f9f2e9;
}

.servico {
    text-align: center;
    width: 30%;
    border: 1px solid #d1d1b0;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s;
    background-color: #f9f2e9;
}

.servico:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.breakfast-dining-icon-1, .cake-icon-1, .local-cafe-icon-1 {
    display: inline-block;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.breakfast-dining-icon-1 {
    width: 30px;
    height: 30px; 
    background-image: url('img/iconPao-removebg-preview.png');
}

.cake-icon-1 {
    width: 30px;
    height: 30px;
    background-image: url('img/iconBiscoito-removebg-preview.png');
}

.local-cafe-icon-1 {
    width: 30px;
    height: 30px;
    background-image: url('img/iconCafé.png');
}

.servico h3 {
    font-size: 20px;
    color: #333;
}

.servico p {
    font-size: 16px;
    color: #666;
}

.servico-icon{
    width: 70px;
    height: 70px;
}

.button-paes, .button-biscoitos, .button-bolos {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #8b0000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.button-paes:hover, .button-biscoitos:hover, .button-bolos:hover {
    background-color: #b22222;
    color: white;
    box-shadow: none;
    outline: none;
}

.diferenciais {
    text-align: center;
    padding: 40px 20px;
}

.diferenciais h2 {
    font-size: 28px;
    color: #8b0000;
}

.diferenciais p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
}

.diferenciais img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

button {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #b22222;
    transform: scale(1.05);
}

button a:hover {
    color: white;
}

.carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pagination {
    margin: 20px 0;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #8b0000;
    background-color: #d8be95;
    border: 1px solid #8b0000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #8b0000;
    color: white;
}

.page-item.disabled .page-link {
    color: #ccc;
    background-color: #d8be95;
    border-color: #ccc;
}

.page-item.disabled .page-link:hover {
    background-color: #d8be95;
    color: #ccc;
}

footer {
    background-color: #d3b899;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

footer .footer-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .servicos {
        flex-direction: column;
        align-items: center;
    }

    .servico {
        width: 80%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .page-link {
        padding: 8px;
        font-size: 14px;
    }
}
